.header {
    background-color: #0054A4;
    color: #fff;
    text-align: left;
    padding: 16px;
    display: flex;
    align-items: center;
}

.title-wrapper{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.title-inform-wrapper{
    margin-left: 8px;
}

.header-title {
    font-size: 24px;
}

.header-title2 {
    font-size: 12px;
    width: 100%;
}

.dotoriicon {
    height: 45px;
    width: 45px;
}